<html>
    <head>
       <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js'></script> 
       <script src='app/modules/util/utilModule.js'></script> 
       <script src='app/services/ajaxService.js'></script>
       <script src='app/services/consoleLogService.js'></script> 
       <script src='app/modules/accounts/accountsModule.js'></script> 
       <script src='app/modules/accounts/controllers/accountsController.js'></script> 
       
    </head>
    <body>
        <div ng-app='accountsModule'><!-- rootScope -->
            <!-- Scope -->
            <div ng-controller="AccountsController"> <!-- scope{}-> inject- AccountsController-->
                <p>UserName : <input  type="text" ng-model='model.userName'/> </p>
                <p>Password : <input  type="password" ng-model='model.password'/> </p>
        <button ng-click="login()">Login</button>
        <button ng-click="logout()">Logout</button>
        <button ng-click="signup()">signup</button>
        <output>{{status}}</output>
    </div>
    </div>
    </body>
</html>